In [15]:
f_name = ['samantha','jada','jadyn','naza','nazo','pearl','lonimi','feranmi','maureen','jordan']
f_age =['17','16','17','18','16','18','17','20','19','17']
f_height =['5.5','6.0','5.4','5.9','5.6','5.5','6.1','6.0','5.7','5.5']
f_score = ['80','85','70','60','76','66','87','95','50','49']

print("f_name | f_age | f_height | f_score")
for i in range(len(female_age)):
        print(f_name[i],"|",f_age[i],"|",f_height[i],"|",f_score[i] )

f_name | f_age | f_height | f_score
samantha | 17 | 5.5 | 80
jada | 16 | 6.0 | 85
jadyn | 17 | 5.4 | 70
naza | 18 | 5.9 | 60
nazo | 16 | 5.6 | 76
pearl | 18 | 5.5 | 66
lonimi | 17 | 6.1 | 87
feranmi | 20 | 6.0 | 95
maureen | 19 | 5.7 | 50
jordan | 17 | 5.5 | 49